extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='https://iconscout.com/icons/polygon-token' target='_blank') Polygon token Icon
  |  by 
  a(href='https://iconscout.com/contributors/polygon' target='_blank') Polygon
